html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.03em;
  background: #000;
  color: #fff;
  transition: all 0.3s;
}


/* ========================= */
/* ========light theme================== */

body.light {
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.03em;
  transition: all 0.3s;
  color: #313131;
  background: #fff;
}

body.light .menu__item-link {
  color: #313131;
}

body.light .menu__item-link:hover {
  color: #7F5AF0;
}

body.light .light-svg {
  fill: #313131;
}

body.light .header__pros-text {
  color: #7F5AF0;
}



body.light .price__block,
body.light .product__block {
  transition: all 0.3s;
  background: #F8F5FF;
  color: #313131;
}
body.light .price__block-selected {
  background: #7F5AF0;
  color: #fff;
}

body.light .portfolio {
  background: #D5C7FF;
}

body.light .portfolio__gallery-block {
  background: #6E6390;
}

body.light .portfolio__link {
  color: #313131;
  border: 1px solid #313131;
}

body.light .portfolio__link:hover {
  color: #7F5AF0;
  border: 1px solid #7F5AF0;
}

body.light .tariff {
  color: #313131;
}

body.light .tariff span {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #313131;
}

body.light .tariff-selected,
body.light .tariff-selected span{
  color: #fff;
}


body.light .price__benefits-items {
  color: #313131;
}

body.light .item-selected {
  color: #fff;
}


body.light .check-light {
  stroke: #7F5AF0;
}

body.light .footer__options p {
  color: #fff;
}

body.light .light-theme {
  stroke: #7F5AF0;
}

body.light .dark-theme {
  stroke: #646464;
}

body.light .selected {
  stroke: #fff;
}

body.light .price__dis-items {
  color: #A7A1B8;
}

body.light .dis__svg {
stroke: #A7A1B8;
}

body.light .benefits__line::after{
  background: #DAD5E9;
}


body.light .mobile-nav-button__icon {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #313131;
}

body.light .mobile-nav-button__icon::after,
body.light .mobile-nav-button__icon::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #313131;
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}

body.light #phone,
body.light #name {
  color: #313131;
}




/* ========================= */
/* ========light theme end================== */



img {
  max-width: 100%;
}

.container {
  padding: 0 25px;
}

.header__top {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-left: auto;
  display: none;
  align-items: center;
}

.menu__items {
  display: flex;
}

.menu__item {
  margin-right: 60px;
}

.menu__item-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: all 0.3s;
}

.menu__item-link:hover {
  color: #7F5AF0;
}

.menu__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 19px 38px;
  border: 1px solid #7F5AF0;
  color: #7F5AF0;
  border-radius: 100px;
  transition: all 0.3s;
}

.menu__link:hover {
  color: #fff;
  background: #7F5AF0;
}

.button__menu {
  padding-left: 20px;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
}

.mobile-nav-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  position: relative;
  z-index: 999;
  width: 20px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mobile-nav-button__icon {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon::before {
  left: 0;
  top: -5px;
}

.mobile-nav-button__icon::after {
  left: 0;
  top: 5px;
}

.mobile-nav {
  display: flex;
  align-items: center;
}

.header__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header__main .header__main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__main .header__title {
  max-width: 150px;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.header__main .header__text {
  max-width: 246px;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 15px;
  line-height: 16px;
  text-align: center;
}

.header__main .costs__link {
  color: #7F5AF0;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.header__main .costs__link p {
  font-family: "Montserrat";
  font-weight: 500;
  margin-right: 10px;
}

.header__rocket {
  max-width: 191px;
  margin-bottom: 60px;
}

.submit__link {
  font-weight: 500;
font-size: 14px;
line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  background: #7F5AF0;
  border-radius: 100px;
  border: 1px solid #7F5AF0;
  padding: 14px 61px;
  margin-bottom: 25px;
  transition: all 0.3s;
}

.form__submit:hover,
.submit__link:hover {
  background: #fff;
  color: #7F5AF0;
}

.header__pros {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__pros-item {
  position: relative;
  min-width: 115px;
  min-height: 115px;
  border: 2px solid rgba(127, 90, 240, 0.2);
  border-radius: 50%;
  margin: 0 auto;
}

.header__pros-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  text-align: center;
  line-height: 16px;
  text-align: center;
}

.product {
  margin-bottom: 60px;
}

.product__about {
  margin-bottom: 25px;
}

.title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #7F5AF0;
  text-align: center;
}

.product__block {
  background-color: #0E0E0E;
  border-radius: 15px;
  margin-bottom: 20px;
}

.product__block-inner {
  padding: 30px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product__icon {
  width: 50px;
}

.product__img {
  max-width: 100%;
  margin-bottom: 15px;
}

.product__block-info {
  text-align: center;
}

.product__block-info .product__title {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.product__block-info .product__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #AAAAAA;
}

.support {
  margin-bottom: 60px;
}

.support__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support__info {
  margin-bottom: 15px;
}

.support__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #C5C5C5;
  margin-bottom: 25px;
}

.support__icon {
  border-radius: 100%;
  overflow: hidden;
}

.support__first-dec,
.support__second-dec {
  display: none;
}

.portfolio {
  background-color: #1C1C1C;
  padding: 60px 0;
}

.portfolio__gallery-block {
  background-color: #2C2C2C;
  border-radius: 10px;
  max-width: 990px;
}


.gallery__popup {
  min-height: 430px;
}

.portfolio__about {
  margin-bottom: 25px;
}

.portfolio__all {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.portfolio__link {
  color: #fff;
  font-weight: 500;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 13px 77px;
  font-size: 14px;
  line-height: 18px;
  transition: all 0.3s;
  text-transform: uppercase;
}

.portfolio__link:hover {
  border: 1px solid #7F5AF0;
  color: #7F5AF0;
}



.price__about {
  margin-bottom: 25px;
}

.price__decor{
  display: none;
}

.check-light {
  margin-right: 150px;
  stroke: #fff;
}


.price__block {

  background: #0E0E0E;
  color: #D1D1D1;
  border-radius: 15px;
  transition: all 0.3s;

}

.price__block-selected {
  background: #7F5AF0;
}


.price__inner {
  padding: 30px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tariff {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
}

.tariff span {
  color: #fff;
  font-weight: 600;
}

.tariff__link {
  text-transform: uppercase;
}

.price__content {
  display: flex;
  flex-direction: column-reverse;
}

.price__costs {
  margin-bottom: 137px;
  padding-left: 20px;
}

.price__second{
  margin-bottom: 81px;
}

.price__third{
  margin-bottom: 25px;
}

.price__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
}

.price__tariff {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #7F5AF0;
}

.price__tariff-selected{
  color:#fff;
}

.price__block-info {
  margin-bottom: 25px;
}

.price__block-info p {
  display: none;
}

.price__benefits-items {
  list-style: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.price__benefits-item + .price__benefits-item {
  margin-top: 12px;
}

.price__benefits-item {
  display: flex;
  align-items: center;
}

.price__benefits-item span,
.price__dis-item span {
  margin-left: 10px;
}

.price__benefits-item svg {
  margin-right: 5px;
}

.price__info-dis {
  display: none;
}


.dis__svg {
  stroke: #5C5C5C;
}

.price__dis-items {
  list-style: none;
  color: #5C5C5C;
}

.price__link {
  font-weight: 500;
font-size: 14px;
line-height: 18px;
  padding: 14px 72px;
  border-radius: 100px;
  color: #7F5AF0;
  border: 1px solid #7F5AF0;
  transition: all 0.3s;
}

.price__link:hover {
  background: #fff;
}

.price__link-selected{
  color: #7F5AF0;
  background: #fff;
  border: 1px solid #fff;
}



.price__link span {
  display: none;
}

.price,
.portfolio,
.benefits,
.callback {
  margin-bottom: 60px;
}

.callback__about {
  margin-bottom: 25px;
}

.form-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form-block .form__info {
  display: block;
  text-align: center;
  background: transparent;
  padding: 12px 55px;
  border: 1px solid #655D7E;
  border-radius: 100px;
  font-family: "Mulish";
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.form-block .form__info:not(:-moz-placeholder-shown) {
  border-color: #7F5AF0;
}

.form-block .form__info:not(:-ms-input-placeholder) {
  border-color: #7F5AF0;
}

.form-block .form__info:not(:placeholder-shown) {
  border-color: #7F5AF0;
}

.form-block .form__info:focus {
  background-color: transparent;
  border-color: #7F5AF0;
  outline: 0;
}

.form__submit {
  cursor: pointer;
  padding: 12px 55px;
  border: 1px solid #655D7E;
  border-radius: 1000px;
  background: #7F5AF0;
  color: #fff;
  transition: all 0.3s;
}

.label__text {
  font-family: "Mulish";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
  text-align: center;
}


.form__icon {
  position: relative;
  display: flex;
  justify-content: center;
}

.form__decoration{
  display: none;
}


.footer {
  background: #1C1C1C;
  padding: 50px 0;
  text-align: center;
}

.footer__options {
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__options p {
  margin-bottom: 15px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 11px;

}


.footer__logo {
  margin-bottom: 10px;
}

.optios__publick {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.footer__nav + .footer__nav {
  margin-top: 25px;
}

.footer__title {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7F5AF0;
}

.footer__item + .footer__item {
  margin-top: 10px;
}

.footer__link {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #969696;
  transition: all 0.3s;
}

.footer__link:hover {
  color: #7F5AF0;
}

.footer__about {
  margin-bottom: 40px;
}

.footer__contact {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  transition: all 0.3s;
}

.footer__contact:hover {
  color: #7F5AF0;
}

.footer__theme {
  display: flex;
  align-items: center;
}

.footer__decor {
  display: none;
}

.switch {
  margin: 0 15px;
  position: relative;
  display: inline-block;
  width: 39px;
  height: 18px;
}

/* slider */

.slider-round {
  position: relative;
  border: 1px solid #7F5AF0;
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #525252;
  transition: 0.4s;
}

.slider-round:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: -1px;
  bottom: -1px;
  background-color: #7F5AF0;
  transition: 0.4s;
}

input:checked + .slider-round:before {
  transform: translateX(22px);
}

.light-theme {
  position: absolute;
  top: -20%;
  left: 52px;
  stroke: #646464;
}

.dark-theme {
  position: absolute;
  top: -15%;
  left: -35px;
  stroke: #7F5AF0;
}



.slick-slide {
  margin: 0 5px;
}



@media (min-width: 386px) {
  .menu .button__menu {
    display: flex;
  }

  .header__pros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .header__pros-item + .header__pros-item {
    margin-left: 5px;
  }
}

@media (max-width: 319px) {
  .submit__link {
    padding: 14px 30px;
}

.portfolio__link {
  padding: 13px 30px;
}

.price__link {
  
  padding: 14px 30px;
}

.header__pros-item + .header__pros-item {
  margin-top: 10px;
  
}

.form-block .form__info {
  padding: 12px 35px;
  font-size: 14px;
}
}

@media (min-width: 480px) {
  .header__top {
    padding: 40px 0;
  }

  .header__main .header__title {
    max-width: 420px;
    font-size: 36px;
    line-height: 50px;
  }

  .header__main .header__text {
    max-width: 520px;
  }
  

  .header__pros {
    margin-bottom: 160px;
  }

  .product__content {
    max-width: 720px;
    margin: 0 auto;
  }



  .price__about {
    margin-bottom: 60px;
  }

  .price__block {
    margin-bottom: 20px;
  }

  .price__inner {
    padding: 60px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tariff {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 20px;
  }

  .price__content {
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .price__costs {
    margin-bottom: 40px;
    padding-left: 0;
    
  }

  .price__text {
    font-size: 16px;
    line-height: 20px;
  }

  .price__tariff {
    font-size: 40px;
    line-height: 50px;
  }

  .price__block-info {
    display: flex;
    margin-bottom: 40px;
  }

  .price__info-benefits p {
    display: none;
  }

  .price__dis-items,
  .price__benefits-items {
    font-size: 20px;
    line-height: 25px;
  }

  .price__link {
    font-size: 16px;
    padding: 14px 72px;
  }

}

@media(min-width: 520px){
  .header__rocket {
    max-width: 542px;
  }
  .form__submit {
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .title {
    font-size: 28px;
    line-height: 35px;
  }

  .subtitle {
    font-size: 22px;
    line-height: 28px;
  }

  .product__block-inner {
    padding: 30px 40px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .product__about {
    margin-bottom: 60px;
  }

  .product__icon {
    min-width: 80px;
    margin-right: 30px;
  }


  .product__img {
    width: 80px;
    margin-bottom: 0px;
  }

  .product__block-inner {
    display: flex;
    justify-content: left;
  }

  .product__block-info {
    text-align: left;
  }

  .product__block-info .product__title {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .product__block-info .product__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #AAAAAA;
  }

  .support {
    margin-bottom: 160px;
}

.submit__link {
  margin-bottom: 60px;
}


  

  .callback__about {
    margin-bottom: 40px;
  }

  .form-block {
    max-width: 740px;
    margin: 0px auto 30px auto;
  }

  .form-block .form__info {
    padding: 22px 124px;
  }

  .form__submit {
    margin: 0 auto;
    padding: 28px 71px;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 60px;
  }


  .label__text {
    font-size: 18px;
    line-height: 23px;
  }


}

@media (min-width: 768px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .title {
    margin-bottom: 15px;
  }

  
.header__main .costs__link{
  margin-bottom: 60px;
    font-size: 16px;
  }

  .costs__link p span {
    font-size: 25px;
  }



  .header__main .header__title {
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 30px;
  }

  .header__main .header__text {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
  }

  .header__main .price__link {
    margin-bottom: 60px;
  }


  .header__main .price__link p {
    margin-right: 10px;
    font-size: 18px;
  }

  .header__pros-item {
    min-width: 218px;
    min-height: 218px;
  }

  .header__pros-text {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .submit__link {
    padding: 28px 70px;
    margin-bottom: 88px;
    font-size: 18px;
    line-height: 23px;
  }

  .tariff__link {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-transform: none;
  }

  

  .portfolio {
    padding: 160px 0;
  }

  .portfolio__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subtitle__portfolio,
  .title__portfolio{
    text-align: left;
    padding-left: 15px;
  }

  .portfolio__link {
    text-transform: none;
    margin-right: 15px;
    }

  .price,
  .portfolio,
  .benefits,
  .callback,
  .product,
  .support {
    margin-bottom: 160px;
  }

  .support__info {
    margin-bottom: 30px;
  }

  .support__right{
    position: relative;
    margin-left: 50px;
  }

  .support__first-dec,
.support__second-dec {
  display: flex;
  position: absolute;
}

.support__first-dec{
  top: -8%;
  left: -5%;
}

.support__second-dec{
  top: 90%;
  left: -5%;
}

  .text {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 60px;
    max-width: 720px;
  }



  .form__decoration{
    display: flex;
    position: absolute;
    top: 0;
    left: 75%;
  }
  .price__content {
    min-width: 650px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .price__blocks {
    max-width: 768px;
    margin: 0 auto;
  }
  .price__block-info {
    display: flex;
    align-items: center;
  }

  .price__info-benefits {
    margin-right: 120px;
  }

  .price__info-dis {
    display: flex;
  }

  .price__dis-item + .price__dis-item {
    margin-top: 10px;
  }

  
  .product__block-info .product__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .product__block-info .product__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #AAAAAA;
  }

  .product__block-inner {
    padding: 60px 50px;
}

  .footer {
    padding: 100px 0;
    text-align: left;
  }

  .footer__inner {
    display: flex;
    justify-content: space-between;
  }

  .footer__options p {
    font-size: 13px;
    line-height: 16px;
  }
  

  .footer__options {
    margin-bottom: 0px;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .optios__publick {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 50px;
  }

  .footer__nav + .footer__nav {
    margin-top: 0px;
    margin-left: 80px;
  }

  .footer__title {
    margin-bottom: 21px;
    font-size: 18px;
    line-height: 22px;
  }

  .footer__item + .footer__item {
    margin-top: 13px;
  }

  .footer__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .footer__about {
    margin-bottom: 0px;
    display: flex;
  }

  .footer__contacts {
    margin-bottom: 50px;
  }

  .footer__contact {
    font-size: 18px;
    line-height: 22px;
  }

  .footer__phone + .footer__phone {
    margin-top: 17px;
  }
}

@media (min-width: 890px) {
  

  .footer__content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .footer__about {
    margin-right: 80px;
  }

  .footer__contacts {
    margin-bottom: 0px;
  }

  .footer__contact + .footer__contact {
    margin-top: 0px;
  }

  .footer__decor {
    display: flex;
    padding-top: 55px;
    margin-left: 55px;
  }
}

@media (min-width: 991px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .menu {
    display: flex;
  }

  .mobile-nav-button,
  .button__menu {
    display: none;
  }

  .callback__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .form-block__submit {
    padding-right: 140px;
  }

  .form__submit{
    margin-bottom: 0;
  }

  .form__icon {
    margin-right: 100px;
  }

  
  .form__decoration{
    top: -8%;
    left: 82%;
  }

  .label__text {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
  }

  .form-block__number {
    margin: 0px auto 40px auto;
}

.portfolio__link{
margin-right: 0;
}
.subtitle__portfolio,
.title__portfolio{
  padding-left: 0px;
}


  .portfolio__gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 5fr 1fr 4fr;
    -ms-grid-rows: (140px);
    grid-template-rows: repeat(7, 145px);
    grid-gap: 30px;
  }

  .portfolio__gallery-block:nth-child(2n+1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }

  .portfolio__gallery-block:nth-child(7),
  .portfolio__gallery-block:nth-child(2n) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }

  .portfolio__gallery-block:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }

  .portfolio__gallery-block:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6/8;
  }

  .portfolio__gallery-block:nth-child(7) {
    -ms-grid-row: 8;
    -ms-grid-row-span: 2;
    grid-row: 8/10;
  }

  .portfolio__gallery-block:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .portfolio__gallery-block:nth-child(2) {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }

  .title__callback,
  .subtitle__callback {
    text-align: left;
  }

  .footer__about {
    margin-right: 180px;
  }


}

@media (min-width: 1034px) {


  .header__main{
    height: 100vh;
  }

  .header__main {

    margin-top: 0;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .header__main .header__main-info {
    position: relative;
    display: inline-block;
  }

  .header__main .header__main-info .header__title {
    text-align: left;
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 30px;
  }
  body.light .rocket-light{
    stroke: #DB5AF0;
    fill: #DB5AF0;
  }

  .header__link {
    position: relative;
  }

  .costs__link {
    position: absolute;
    margin-bottom: 0;
    top: 37%;
    left: 65%;
  }
  

  .header__main .header__text {
    text-align: left;
    margin-bottom: 60px;
  }
}

@media (min-width: 1140px) {
  .title {
    font-size: 28px;
    line-height: 35px;
    text-align: left;
  }

  .subtitle {
    font-size: 22px;
    line-height: 28px;
    text-align: left;
  }

  .product__content {
    justify-content: space-between;
    max-width: 1170px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }



  .product__block {
    max-width: 360px;
    margin-bottom: 0;
  }

  .product__block-inner {
    padding: 40px 52px 68px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .product__icon {
    height: 80px;
    margin-bottom: 40px;
  }

  .submit__link {
    margin-bottom: 0px;
  }

  .costs__link {
    top: 45%;
  }


  .support__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .support__block {
    max-width: 565px;
  }

  .support__text {
    display: inline-block;
  }

  .text {
    text-align: left;
  }

  .portfolio__about {
    margin-bottom: 60px;
}

  .portfolio__link {
    font-size: 18px;
line-height: 22px;
    padding:18px 38px;

}



  .portfolio__all {
    display: inline-block;
  }

  .price {
    margin-bottom: 200px;
  }

  .price__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price__decor{
    display: flex;
  }

  .price__about {
    padding-top: 40px;
  }

  .price__blocks {
    display: flex;
    justify-content: space-between;
  }


  .price__inner {
    padding: 60px 54px 100px 54px;
    align-items: baseline;
  }

  .price__blocks {
    max-width: 1170px;
  }

  .tariff {
    margin-bottom: 40px;
  }

  .price__content {
    min-width: 0px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .price__costs {
    margin-bottom: 40px;
  }

  .price__power {
    margin-bottom: 52px;
  }

  .price__text {
    font-size: 16px;
    line-height: 20px;
  }

  .price__tariff {
    font-size: 40px;
    line-height: 50px;
  }

  .price__block-info {
    max-width: 250px;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: baseline;
  }

  .price__block-info p {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }



  .price__benefits-items {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 28px;
  }

  .price__benefits-item + .price__benefits-item {
    margin-top: 10px;
  }

  .benefits__line::after {
    display: block;
    content: "";
    width: 263px;
    height: 1px;
    background: #1C1C1C;
    margin: 40px 0;
  }

  .block-info__selected{
    margin-bottom: 47px;
  }

  .price__link {
    padding: 18px 38px;
    font-size: 18px;
    line-height: 22px;
  }

  .price__link span {
    display: inline-flex;
  }
}

@media (min-width: 1180px) {
  .product__block {
    max-width: 370px;
  }


  .price__inner {
    padding: 60px 60px 100px 60px;
    align-items: baseline;
  }
}